@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hover styles */
.state-effects {
  @apply transition focus:scale-105 hover:scale-105 active:scale-[1.02]
}


/* Scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #0f1015;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) #0f1015;
  }